:root {
    --bend: 20px;
    --space: 20px;
}
    body {
    display: flex;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    display: block;
    position: fixed;
    width: 100%;
    background-color: indigo;
    z-index: 1;
}


article {
display: flex;
position: relative;
display: block;
margin: 20px;
background-color: darkgreen;
color: mediumseagreen;
border-radius: var (--bend);
width: 25%;
}

img {
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    position: absolute;
    right: 10px;
    top: -20px;
}

p {
    display: flex;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    color: white;
    background-color: black;
    text-align: center;
    min-width: 100px;
}

.card-description:hover {
    background-color: #772014;
    color: #fff;
}
    
.card-description {
    display: flex;
    position: relative;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-size: 100%;
    background-color:navy;
}

#main {
    display: flex;
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    top: 220px;
    background-color: darkslategrey;
}